In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
import os
import pickle

In [25]:
df = pd.read_csv(r"Churn_Modelling.csv")
print(df.shape)
df.head()

(10000, 14)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# Wrangle Function

In [26]:
#Spliting the data into X and y
X=df.drop('Exited',axis=1)
y=df['Exited']

In [27]:
def wrangle(dataframe, encoder_path="ohe_preprocessor.pkl"):

    # Dropping Columns.

    dataframe = dataframe.drop(
        columns=["RowNumber", "CustomerId", "Surname"],
        errors="ignore",axis=1
    )

    # Label Encoding.

    if dataframe["Gender"].dtype == "object":
        dataframe["Gender"] = dataframe["Gender"].map({
            "Male": 1,
            "Female": 0
        })

     # ColumnTransformer for Geography (OHE)
     
    if "Geography" in dataframe.columns:

        preprocessor = ColumnTransformer(
            transformers=[
                ("geo",
                 OneHotEncoder(sparse_output=False, handle_unknown="ignore"),
                 ["Geography"])
            ],
            remainder="passthrough"
        )

        # Load or fit encoder
        if os.path.exists(encoder_path):
            with open(encoder_path, "rb") as file:
                preprocessor = pickle.load(file)
            X_transformed = preprocessor.transform(dataframe)
        else:
            X_transformed = preprocessor.fit_transform(dataframe)
            with open(encoder_path, "wb") as file:
                pickle.dump(preprocessor, file)

        geo_feature_names = (
            preprocessor.named_transformers_["geo"]
            .get_feature_names_out(["Geography"])
        )

        remaining_cols = [col for col in dataframe.columns if col != "Geography"]
        final_columns = list(geo_feature_names) + remaining_cols

        dataframe = pd.DataFrame(X_transformed,columns=final_columns,index=df.index)
            
            
            
        
                           
    










    return dataframe

In [28]:
#df['Gender'].value_counts()

In [29]:
#df.isnull().sum()

In [30]:
#df.describe().T

In [31]:
X=wrangle(X)
X.head()

,Geography_France,Geography_Germany,Geography_Spain,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1.0,0.0,0.0,619.0,0.0,42.0,2.0,0.00,1.0,1.0,1.0,101348.88
1,0.0,0.0,1.0,608.0,0.0,41.0,1.0,83807.86,1.0,0.0,1.0,112542.58
2,1.0,0.0,0.0,502.0,0.0,42.0,8.0,159660.80,3.0,1.0,0.0,113931.57
3,1.0,0.0,0.0,699.0,0.0,39.0,1.0,0.00,2.0,0.0,0.0,93826.63
4,0.0,0.0,1.0,850.0,0.0,43.0,2.0,125510.82,1.0,1.0,1.0,79084.10

In [32]:
# Train test Split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=42)

In [33]:
# Scaling of Features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [34]:
X_train

array([[ 1.00053348, -0.57776083, -0.57735027, ..., -1.53973586,
         0.96978946, -1.38284424],
       [-0.99946681,  1.73082   , -0.57735027, ...,  0.64946204,
        -1.03115165, -1.19589044],
       [ 1.00053348, -0.57776083, -0.57735027, ..., -1.53973586,
        -1.03115165, -0.68342242],
       ...,
       [ 1.00053348, -0.57776083, -0.57735027, ..., -1.53973586,
        -1.03115165, -0.14675423],
       [ 1.00053348, -0.57776083, -0.57735027, ...,  0.64946204,
        -1.03115165, -0.0548954 ],
       [-0.99946681,  1.73082   , -0.57735027, ...,  0.64946204,
         0.96978946, -0.81796934]])

In [35]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [36]:
import tensorflow 
from tensorflow.keras.models import Sequential # type: ignore
from tensorflow.keras.layers import Dense # type: ignore
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard # type: ignore
import datetime

In [37]:
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(16,activation='relu'),
    Dense(1,activation='sigmoid') #O/P layer
])

In [38]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 64)                832

 dense_5 (Dense)             (None, 32)                2080

 dense_6 (Dense)             (None, 16)                528

 dense_7 (Dense)             (None, 1)                 17

=================================================================
Total params: 3457 (13.50 KB)
Trainable params: 3457 (13.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [39]:
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)

In [40]:
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [41]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [42]:
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [43]:
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3996 - accuracy: 0.8303 - val_loss: 0.3694 - val_accuracy: 0.8408
Epoch 2/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3583 - accuracy: 0.8548 - val_loss: 0.3620 - val_accuracy: 0.8632
Epoch 3/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3533 - accuracy: 0.8531 - val_loss: 0.3421 - val_accuracy: 0.8628
Epoch 4/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3474 - accuracy: 0.8599 - val_loss: 0.3455 - val_accuracy: 0.8608
Epoch 5/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3421 - accuracy: 0.8616 - val_loss: 0.3441 - val_accuracy: 0.8588
Epoch 6/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8603 - val_loss: 0.3432 - val_accuracy: 0.8628
Epoch 7/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8631 - val_loss: 0.3416 - val_accuracy: 0.8648
Epoch 8/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8639 - val_loss: 0.3430 - val_accuracy: 0.8592
Epoch 9/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3313 - accuracy: 0.8645 - val_loss: 0.3475 - val_accuracy: 0.8588
Epoch 10/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3303 - accuracy: 0.8632 - val_loss: 0.3412 - val_accuracy: 0.8576
Epoch 11/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3294 - accuracy: 0.8649 - val_loss: 0.3397 - val_accuracy: 0.8600
Epoch 12/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3242 - accuracy: 0.8665 - val_loss: 0.3375 - val_accuracy: 0.8604
Epoch 13/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3238 - accuracy: 0.8663 - val_loss: 0.3466 - val_accuracy: 0.8600
Epoch 14/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3220 - accuracy: 0.8684 - val_loss: 0.3563 - val_accuracy: 0.8600
Epoch 15/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3228 - accuracy: 0.8675 - val_loss: 0.3503 - val_accuracy: 0.8600
Epoch 16/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3184 - accuracy: 0.8699 - val_loss: 0.3452 - val_accuracy: 0.8600
Epoch 17/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3166 - accuracy: 0.8728 - val_loss: 0.3468 - val_accuracy: 0.8624
Epoch 18/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3158 - accuracy: 0.8701 - val_loss: 0.3688 - val_accuracy: 0.8596
Epoch 19/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3146 - accuracy: 0.8693 - val_loss: 0.3476 - val_accuracy: 0.8612
Epoch 20/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3102 - accuracy: 0.8739 - val_loss: 0.3542 - val_accuracy: 0.8568
Epoch 21/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3088 - accuracy: 0.8753 - val_loss: 0.3748 - val_accuracy: 0.8600
Epoch 22/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3058 - accuracy: 0.8757 - val_loss: 0.3628 - val_accuracy: 0.8604

In [44]:
model.save('model.keras')

In [45]:
#%load_ext tensorboard

In [46]:
#%tensorboard --logdir logs --port 6007