In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
import os
import pickle
from tensorflow.keras.models import load_model

In [ ]:
model=load_model('model.h5')

with open('ohe_preprocessor.pkl','rb') as file:
    ohe_preprocessor=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

In [26]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

input_df=pd.DataFrame([input_data])

In [27]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [28]:
def preprocess_input(data):
    data["Gender"] = data["Gender"].map({"Male": 1, "Female": 0})
    return data

In [29]:
input_df=preprocess_input(input_df)

In [30]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [31]:
new_df=ohe_preprocessor.transform(input_df)

In [32]:
new_df

array([[1.e+00, 0.e+00, 0.e+00, 6.e+02, 1.e+00, 4.e+01, 3.e+00, 6.e+04,
        2.e+00, 1.e+00, 1.e+00, 5.e+04]])

In [33]:
new_scaled_df=scaler.transform(new_df)
new_scaled_df

C:\Users\HP\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[ 1.00053348, -0.57776083, -0.57735027, -0.54007722,  0.91186722,
         0.10685843, -0.69164931, -0.26034447,  0.81311138,  0.64946204,
         0.96978946, -0.88017893]])

In [34]:
prediction=model.predict(new_scaled_df)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 84ms/step

array([[0.03121156]], dtype=float32)

In [35]:
prediction_proba = prediction[0][0]

In [36]:
prediction_proba

0.03121156

In [37]:
if prediction_proba > 0.5:
    print('The customer is likely to churn.')
else:
    print('The customer is not likely to churn.')

The customer is not likely to churn.